:root {
    --light-purple: #AA96DA; 
    --dark-purple: #28019c;
    --mint: #C5FAD5;
    --butter: #FFFFD2;
}

body {
    background-color: var(--mint);
    color: var(--butter);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* The header, includes page title and nav menu bar */
header {
    background-color: var(--light-purple);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 30px;
    text-decoration: underline;
}

nav li {
    margin: 20px;
}

/* The Banner Picture (hero pic) and Caption, below the header */
.hero {
    display: flex;
}

.hero-pic {
    flex-grow: 1;
    justify-content: space-between;
    height: 200px;
    width: 75%;
}

.hero-caption{
    background-color: var(--light-purple);
    border: var(--dark-purple) double 15px;
    flex-grow: 1;
    opacity: 0.85;
}

.flexbox-body {
    display: flex;
    flex-direction: column;
}


/* The About Me section (Title, headshot & text) */
#about-me{
    color: var(--dark-purple);
    display: flex;
}

.card-title {
    font-size: 30px;
    padding: 10px;
    flex: 20%;
    color: var(--dark-purple);
    margin: 10px;
    border-right: var(--dark-purple) solid 10px;
    min-width: 200px;
    display: flex;
    justify-content: right;
}

.card-content {
    display: flex;
    flex: 80%;
    margin: 10px;
}

.card-content p {
    padding: 10px;
}

#headshot {
    width: 200px;
}

/* The Work Section (Section Titles and featured work) */
.flexbox-work {
    display: flex;
}

.flexbox-featured-work {
    display: flex;
    flex: 80%;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 40px;
    box-sizing: border-box;
}

.highlighted-work {
    margin: 5px;
    width: 100%;
    flex: 1 1 100%;
}

.highlighted-work img {
    width: 100%;
    border: solid black 3px;
}

.other-work {
    margin: 5px;
    height: 100px;
    border: solid black 2px;
    flex: 1 1;
}

#project_set_2, #project_set_3{
    display: flex;
}

#image3{
    flex: 50%;
}

#image4{
    flex: 50%;
}

.box-fit{
    box-sizing: border-box;
}

footer {
    background-color: var(--light-purple);
    margin: auto 0;
}